body {
    text-align: center;
    background-color: rgb(138, 162, 163);
}

.circle {
  margin: 10% auto;
  border: 1px solid #333333;
  background: #333333;
	border-radius: 50%;
	width: 400px;
	height: 400px; 
    padding: 20px;
    position: relative;
    z-index: 1;
}

.circle > div {
    width: 200px;
    height: 200px;
}

#one {
    position: absolute;
}

#two {
    position: absolute;
    left: 220px;
}

#three {
    position: absolute; 
    top: 220px;
}

#four {
    position: absolute;
    top:220px;
    left:220px;
}

.green {
  border-top-left-radius: 100%;
  border: 95px solid #00A74A;
    float: left;
    z-index: 2;
    
}

.red {
  border-top-right-radius: 100%;
  border: 95px solid #9F0F17;
    float: right;
    z-index: 2;
}

.yellow {
    float: left;
  border-bottom-left-radius: 100%;
  border: 95px solid #CCA707;   
    margin-top: 12px;
    z-index: 2;
}

.blue {
  border-bottom-right-radius: 100%;
  border: 95px solid #094A8F;
    float: right;
    margin-top: 12px;
    z-index: 2;
}

#innerBackground {
    position: absolute;
    top: 110px;
    left: 110px;
    background: #333333;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    z-index: 3;
}

#textCircle {
    position: absolute;
    top: 120px;
    left: 120px;
    background: #ECE7EE;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 4;
}

#title {
    text-align: center;
    margin: 30px auto 15px auto;
}

#top_controls {
    margin: auto;
    width: 150px;
}

#top_controls > div {
/*    margin-left: 10px;*/
    width: 40px;
}

.column {
    display: inline-block;
    height: 60px;
}

.column p {
    margin-top: 5px;
    margin-bottom: 10px;
}

#count {
    height: 25px;
    width: 25px;
    background-color: #32050C;
    border-radius: 15%;
    color: #00A74A;
    padding: 7px 5px 0px 5px;
    text-align: center;
    margin: auto;
    
}

#start {
    height: 15px;
    width: 15px;
    background-color: #FC0102;
    border-radius: 50%;
    border: 5px solid #444444;
    margin: auto;
}

#strict {
    height: 15px;
    width: 15px;
    background-color:#FFFF00;
    border-radius: 50%;
    border: 5px solid #444444;
    margin: auto;
}

#labelctrls {
    width: 150px;
    margin: auto;
}

#labelctrls > p {
    display: inline;
}

#onswitch {
    width: 30px;
    margin: 0px auto 0px auto;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#switch {
    text-align: center;
}

#switch p {
    margin: 0px;
}

