.html {
  align-text: center;
}

.circle {
  margin: 10% auto;
  border: 1px solid #333333;
  background: #333333;
	border-radius: 50%;
	width: 400px;
	height: 400px; 
    padding: 20px;
    position: relative;
    z-index: 1;
}

.circle > div {
    width: 200px;
    height: 200px;
}

#one {
    position: absolute;
}

#two {
    position: absolute;
    left: 220px;
}

#three {
    position: absolute; 
    top: 220px;
}

#four {
    position: absolute;
    top:220px;
    left:220px;
}

.green {
  border-top-left-radius: 100%;
  border: 95px solid #00A74A;
    float: left;
    z-index: 2;
}

.red {
  border-top-right-radius: 100%;
  border: 95px solid #9F0F17;
    float: right;
    z-index: 2;
}

.yellow {
    float: left;
  border-bottom-left-radius: 100%;
  border: 95px solid #CCA707;   
    margin-top: 12px;
    z-index: 2;
}

.blue {
  border-bottom-right-radius: 100%;
  border: 95px solid #094A8F;
    float: right;
    margin-top: 12px;
    z-index: 2;
}

#innerBackground {
    position: absolute;
    top: 110px;
    left: 110px;
    background: #333333;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    z-index: 3;
}

#textCircle {
    position: absolute;
    top: 120px;
    left: 120px;
    background: #ECE7EE;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 4;
}

#title {
    text-align: center;
}

#top_controls > div {
    margin-left: 25px;
}

#count {
    height: 35px;
    width: 40px;
    background-color: #32050C;
    border-radius: 15%;
    display: inline-block;
}

#start {
    height: 15px;
    width: 15px;
    background-color: #FC0102;
    border-radius: 50%;
    border: 5px solid #444444;
    display: inline-block;
}

#strict {
    height: 15px;
    width: 15px;
    background-color:#FFFF00;
    border-radius: 50%;
    border: 5px solid #444444;
    display: inline-block;
}